[user]
	email = {{ if eq .client.role "work" }}preisner@puzzle-itc.de{{ else }}kreativmonkey@calyrium.org{{ end }}
	name = Sebastian Preisner
[core]
	editor = vim
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
	tool = meld
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[cola]
	spellcheck = false
