# -----------------------------------------------------
# INIT
# -----------------------------------------------------

# -----------------------------------------------------
# Exports
# -----------------------------------------------------
export EDITOR=$EDITOR
export PATH="/usr/lib/ccache/bin/:$PATH"
