# -----------------------------------------------------
# INIT
# -----------------------------------------------------

# -----------------------------------------------------
# Exports
# -----------------------------------------------------
export EDITOR={{ .editor }}
export PATH="/usr/lib/ccache/bin/:$PATH"
