function prompt_pwd
    # 1. Heimatverzeichnis durch ~ ersetzen
    set -l org_path (string replace -r "^$HOME" "~" $PWD)
    set -l {{ .chezmoi.config.git.command }}_base ""
    set -l main_{{ .chezmoi.config.git.command }}_base ""

    # 2. Prüfen, ob wir in einem Git-Repo oder Worktree sind
    if command {{ .chezmoi.config.git.command }} rev-parse --show-toplevel >{{ .chezmoi.pathSeparator }}dev{{ .chezmoi.pathSeparator }}null 2>&1
        set -l {{ .chezmoi.config.git.command }}_root (command {{ .chezmoi.config.git.command }} rev-parse --show-toplevel)
        set {{ .chezmoi.config.git.command }}_base (basename ${{ .chezmoi.config.git.command }}_root)

        set -l main_{{ .chezmoi.config.git.command }}_root (command {{ .chezmoi.config.git.command }} worktree list 2>{{ .chezmoi.pathSeparator }}dev{{ .chezmoi.pathSeparator }}null | head -n 1 | awk '{print $1}')
        if test -n "$main_{{ .chezmoi.config.git.command }}_root"
            set main_{{ .chezmoi.config.git.command }}_base (basename $main_{{ .chezmoi.config.git.command }}_root)
        end
    end

    # 3. Pfad in einzelne Ordner (Segmente) aufteilen
    set -l segments (string split {{ .chezmoi.pathSeparator }} $org_path)
    set -l result_segments

    # Behandelt absolute Pfade außerhalb von $HOME
    set -l start_idx 1
    if test -z "$segments[1]"
        set -a result_segments ""
        set start_idx 2
    end

    set -l num_segments (count $segments)
    set -l i $start_idx
    set -l last_idx (math $num_segments - 1)

    # 4. Segmente durchlaufen und kürzen
    while test $i -le $last_idx
        set -l current_reconstructed (string join {{ .chezmoi.pathSeparator }} $result_segments $segments[$i..-1])

        if test (string length "$current_reconstructed") -le 20
            break
        end

        set -l segment $segments[$i]

        if test "$segment" = "${{ .chezmoi.config.git.command }}_base" -o "$segment" = "$main_{{ .chezmoi.config.git.command }}_base"
            set -a result_segments $segment
        else
            set -l first_char (string match -r '^\.?.' "$segment")
            if test -z "$first_char"
                set first_char $segment
            end
            set -a result_segments $first_char
        end

        set i (math $i + 1)
    end

    # 5. Verbleibende, nicht bearbeitete Segmente anhängen
    set -l remaining_start (math (count $result_segments) + 1)
    if test $remaining_start -le $num_segments
        set -a result_segments $segments[$remaining_start..-1]
    end

    # 6. Den fertigen Pfad mit {{ .chezmoi.pathSeparator }} verbinden und ausgeben
    string join {{ .chezmoi.pathSeparator }} $result_segments
end
